Node Red flow.json
[{"id":"a8d4be9f.39a1f","type":"tab","label":"BLE MQQT HRM & POWER","disabled":false,"info":""},{"id":"4de770ff.744bd","type":"mqtt in","z":"a8d4be9f.39a1f","name":"","topic":"Zwift/hr","qos":"2","datatype":"auto","broker":"3fa42133.6ed9de","x":130,"y":120,"wires":[["c2470879.3a7cd8"]]},{"id":"df1c71ad.2bdac","type":"debug","z":"a8d4be9f.39a1f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":80,"wires":[]},{"id":"d474ab08.aa6868","type":"mqtt in","z":"a8d4be9f.39a1f","name":"","topic":"Zwift/Connection","qos":"2","datatype":"auto","broker":"3fa42133.6ed9de","x":160,"y":560,"wires":[["a3c2c4f1.34e738","39ad4cb3.3cdd14"]]},{"id":"a3c2c4f1.34e738","type":"debug","z":"a8d4be9f.39a1f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":520,"wires":[]},{"id":"4d030715.1c3498","type":"inject","z":"a8d4be9f.39a1f","name":"","topic":"","payload":"2","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1070,"y":260,"wires":[["4c604e4b.07ab2"]]},{"id":"4c604e4b.07ab2","type":"mqtt out","z":"a8d4be9f.39a1f","name":"","topic":"Zwift/Fanspeed","qos":"","retain":"","broker":"3fa42133.6ed9de","x":1280,"y":240,"wires":[]},{"id":"91f3412c.d1198","type":"inject","z":"a8d4be9f.39a1f","name":"","topic":"","payload":"3","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1070,"y":300,"wires":[["4c604e4b.07ab2"]]},{"id":"c2aef654.af0e78","type":"inject","z":"a8d4be9f.39a1f","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1070,"y":220,"wires":[["4c604e4b.07ab2"]]},{"id":"53b0a674.ba17b8","type":"inject","z":"a8d4be9f.39a1f","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1070,"y":180,"wires":[["4c604e4b.07ab2"]]},{"id":"3918d760.31a188","type":"influxdb out","z":"a8d4be9f.39a1f","influxdb":"fb9931ab.45e93","name":"","measurement":"Heartrate","precision":"","retentionPolicy":"","x":730,"y":120,"wires":[]},{"id":"39ad4cb3.3cdd14","type":"influxdb out","z":"a8d4be9f.39a1f","influxdb":"fb9931ab.45e93","name":"","measurement":"Connection","precision":"","retentionPolicy":"","x":480,"y":560,"wires":[]},{"id":"836293e4.7560d","type":"comment","z":"a8d4be9f.39a1f","name":"MQQT Values","info":"","x":130,"y":40,"wires":[]},{"id":"46927159.4e598","type":"mqtt in","z":"a8d4be9f.39a1f","name":"","topic":"Zwift/Fanspeed","qos":"2","datatype":"auto","broker":"3fa42133.6ed9de","x":160,"y":460,"wires":[["fc7e2ed5.f45b"]]},{"id":"11ca38ea.b5e937","type":"debug","z":"a8d4be9f.39a1f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":420,"wires":[]},{"id":"d44c0f06.548e2","type":"influxdb out","z":"a8d4be9f.39a1f","influxdb":"fb9931ab.45e93","name":"","measurement":"Fanspeed","precision":"","retentionPolicy":"","x":730,"y":460,"wires":[]},{"id":"c2470879.3a7cd8","type":"function","z":"a8d4be9f.39a1f","name":"Conver to number","func":"msg.payload = Number(msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"x":410,"y":120,"wires":[["3918d760.31a188","df1c71ad.2bdac","1a8d83c8.9469bc"]]},{"id":"fc7e2ed5.f45b","type":"function","z":"a8d4be9f.39a1f","name":"Conver to number","func":"msg.payload = Number(msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"x":410,"y":460,"wires":[["d44c0f06.548e2","11ca38ea.b5e937"]]},{"id":"6df84235.722b1c","type":"mqtt in","z":"a8d4be9f.39a1f","name":"","topic":"Zwift/pwr","qos":"2","datatype":"auto","broker":"3fa42133.6ed9de","x":140,"y":300,"wires":[["e3e990f4.262e6"]]},{"id":"a3e4701e.c0781","type":"debug","z":"a8d4be9f.39a1f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":260,"wires":[]},{"id":"3a08a7e8.efdd18","type":"influxdb out","z":"a8d4be9f.39a1f","influxdb":"fb9931ab.45e93","name":"","measurement":"Power","precision":"","retentionPolicy":"","x":720,"y":300,"wires":[]},{"id":"e3e990f4.262e6","type":"function","z":"a8d4be9f.39a1f","name":"Conver to number","func":"msg.payload = Number(msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"x":410,"y":300,"wires":[["3a08a7e8.efdd18","a3e4701e.c0781"]]},{"id":"3d6f65c9.df0cca","type":"mqtt in","z":"a8d4be9f.39a1f","name":"","topic":"Zwift/bat","qos":"2","datatype":"auto","broker":"3fa42133.6ed9de","x":140,"y":200,"wires":[["86bdf124.6f955"]]},{"id":"69765f70.7813d","type":"debug","z":"a8d4be9f.39a1f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":160,"wires":[]},{"id":"7e308c54.d50934","type":"influxdb out","z":"a8d4be9f.39a1f","influxdb":"fb9931ab.45e93","name":"","measurement":"Battery","precision":"","retentionPolicy":"","x":720,"y":200,"wires":[]},{"id":"86bdf124.6f955","type":"function","z":"a8d4be9f.39a1f","name":"Conver to number","func":"msg.payload = Number(msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"x":410,"y":200,"wires":[["7e308c54.d50934","69765f70.7813d"]]},{"id":"acaedfff.b4402","type":"mqtt in","z":"a8d4be9f.39a1f","name":"","topic":"Zwift/cad","qos":"2","datatype":"auto","broker":"3fa42133.6ed9de","x":140,"y":380,"wires":[["78698f6f.efea8"]]},{"id":"ec496243.9e6e8","type":"debug","z":"a8d4be9f.39a1f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":340,"wires":[]},{"id":"2394a0c7.c2e5c","type":"influxdb out","z":"a8d4be9f.39a1f","influxdb":"fb9931ab.45e93","name":"","measurement":"Cadence","precision":"","retentionPolicy":"","x":730,"y":380,"wires":[]},{"id":"78698f6f.efea8","type":"function","z":"a8d4be9f.39a1f","name":"Conver to number","func":"msg.payload = Number(msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"x":410,"y":380,"wires":[["2394a0c7.c2e5c","ec496243.9e6e8"]]},{"id":"1a8d83c8.9469bc","type":"link out","z":"a8d4be9f.39a1f","name":"Heartrate","links":["9efbf4d3.76fad8"],"x":615,"y":40,"wires":[]},{"id":"1c47a482.63419b","type":"debug","z":"a8d4be9f.39a1f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1490,"y":940,"wires":[]},{"id":"9efbf4d3.76fad8","type":"link in","z":"a8d4be9f.39a1f","name":"","links":["1a8d83c8.9469bc"],"x":155,"y":1160,"wires":[["be41dfee.8a229"]]},{"id":"4718113b.6e6d8","type":"switch","z":"a8d4be9f.39a1f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"120","vt":"num"},{"t":"btwn","v":"110","vt":"num","v2":"140","v2t":"num"},{"t":"btwn","v":"141","vt":"num","v2":"155","v2t":"num"},{"t":"gt","v":"155","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":670,"y":900,"wires":[["cc4437a7.aa1638"],["2806fc76.5dca04"],["ab9be7ce.a27358"],["b13f5e65.92c91"]]},{"id":"5b9fe5ba.23664c","type":"inject","z":"a8d4be9f.39a1f","name":"","topic":"","payload":"50","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1130,"y":1040,"wires":[[]]},{"id":"4ee24344.5c0a4c","type":"inject","z":"a8d4be9f.39a1f","name":"","topic":"","payload":"120","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1130,"y":1080,"wires":[[]]},{"id":"2e2724a5.25147c","type":"inject","z":"a8d4be9f.39a1f","name":"","topic":"","payload":"121","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1130,"y":1120,"wires":[[]]},{"id":"fa0abb35.a5ceb8","type":"inject","z":"a8d4be9f.39a1f","name":"","topic":"","payload":"140","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1130,"y":1160,"wires":[[]]},{"id":"3b037ddf.220d42","type":"inject","z":"a8d4be9f.39a1f","name":"","topic":"","payload":"141","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1130,"y":1200,"wires":[[]]},{"id":"1d88fb5e.31d665","type":"inject","z":"a8d4be9f.39a1f","name":"","topic":"","payload":"160","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1130,"y":1240,"wires":[[]]},{"id":"91434fb1.9a8da","type":"inject","z":"a8d4be9f.39a1f","name":"","topic":"","payload":"161","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1130,"y":1280,"wires":[[]]},{"id":"cc4437a7.aa1638","type":"change","z":"a8d4be9f.39a1f","name":"Set to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":840,"wires":[["c3715f55.ef986","fad3124b.ee2de"]]},{"id":"2806fc76.5dca04","type":"change","z":"a8d4be9f.39a1f","name":"Set to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":880,"wires":[["c3715f55.ef986","fad3124b.ee2de"]]},{"id":"ab9be7ce.a27358","type":"change","z":"a8d4be9f.39a1f","name":"Set to 2","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":920,"wires":[["c3715f55.ef986","fad3124b.ee2de"]]},{"id":"b13f5e65.92c91","type":"change","z":"a8d4be9f.39a1f","name":"Set to 3","rules":[{"t":"set","p":"payload","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":960,"wires":[["c3715f55.ef986","fad3124b.ee2de"]]},{"id":"c3715f55.ef986","type":"rbe","z":"a8d4be9f.39a1f","name":"Block unless value changes","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1220,"y":940,"wires":[["1c47a482.63419b","b098be99.91fb1","9a9a2258.365ef"]]},{"id":"fad3124b.ee2de","type":"ui_slider","z":"a8d4be9f.39a1f","name":"","label":"Set Fanspeed","tooltip":"","group":"23cffcd2.ec87c4","order":2,"width":"0","height":"0","passthru":true,"outs":"all","topic":"","min":0,"max":"3","step":1,"x":1180,"y":860,"wires":[["c3715f55.ef986"]]},{"id":"be96d8a2.2282e8","type":"ui_switch","z":"a8d4be9f.39a1f","name":"","label":"Auto / Man","tooltip":"","group":"23cffcd2.ec87c4","order":1,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":350,"y":780,"wires":[["675f8c93.932124","5f1fd39a.99f68c"]]},{"id":"675f8c93.932124","type":"change","z":"a8d4be9f.39a1f","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"enabled","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":780,"wires":[["fad3124b.ee2de"]]},{"id":"811ed359.61af3","type":"inject","z":"a8d4be9f.39a1f","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":760,"wires":[["be96d8a2.2282e8"]]},{"id":"6f3d9976.289e48","type":"gate","z":"a8d4be9f.39a1f","name":"","controlTopic":"control","defaultState":"open","openCmd":"false","closeCmd":"true","toggleCmd":"toggle","defaultCmd":"default","persist":false,"x":430,"y":900,"wires":[["4718113b.6e6d8"]]},{"id":"1f2d525d.b87d3e","type":"inject","z":"a8d4be9f.39a1f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":940,"wires":[["6f3d9976.289e48"]]},{"id":"b90baea9.e1161","type":"inject","z":"a8d4be9f.39a1f","name":"","topic":"control","payload":"true","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":980,"wires":[["6f3d9976.289e48"]]},{"id":"372ef079.f571e","type":"inject","z":"a8d4be9f.39a1f","name":"","topic":"control","payload":"false","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1020,"wires":[["6f3d9976.289e48"]]},{"id":"5f1fd39a.99f68c","type":"change","z":"a8d4be9f.39a1f","name":"Change Topic","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"true","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"false","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"control","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":900,"wires":[["6f3d9976.289e48"]]},{"id":"99ba18c4.af4f98","type":"comment","z":"a8d4be9f.39a1f","name":"Fan Control","info":"","x":110,"y":700,"wires":[]},{"id":"b098be99.91fb1","type":"link out","z":"a8d4be9f.39a1f","name":"Fanspeed","links":["bfe40a15.447c18"],"x":1435,"y":980,"wires":[]},{"id":"bfe40a15.447c18","type":"link in","z":"a8d4be9f.39a1f","name":"","links":["b098be99.91fb1"],"x":1095,"y":340,"wires":[["4c604e4b.07ab2"]]},{"id":"9a9a2258.365ef","type":"ui_gauge","z":"a8d4be9f.39a1f","name":"","group":"cb1d2df0.ff148","order":4,"width":"0","height":"0","gtype":"gage","title":"","label":"","format":"{{value}}","min":0,"max":"3","colors":["#3772ee","#e6a600","#ca3838"],"seg1":"1","seg2":"2","x":1470,"y":900,"wires":[]},{"id":"cb4b7530.31bac8","type":"cubic-range","z":"a8d4be9f.39a1f","xs":"0, 50, 100","ys":"-1, 0, 5","acceptNewTable":false,"newTableTopic":"","property":"payload","name":"Humidity Correction Curve","x":360,"y":1200,"wires":[["5bae8898.b4fb08"]]},{"id":"e14c20d1.27e99","type":"cubic-range","z":"a8d4be9f.39a1f","xs":"-10,0, 30","ys":"5, 0, 5","acceptNewTable":false,"newTableTopic":"","property":"payload","name":"Temperature Correction Curve","x":350,"y":1240,"wires":[["225532b.a04bcce"]]},{"id":"ea0b264b.97ec08","type":"debug","z":"a8d4be9f.39a1f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":790,"y":1200,"wires":[]},{"id":"a2a8bf.a5f0074","type":"debug","z":"a8d4be9f.39a1f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":790,"y":1240,"wires":[]},{"id":"be4b1228.f430a","type":"inject","z":"a8d4be9f.39a1f","name":"","topic":"","payload":"100","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1130,"y":1360,"wires":[[]]},{"id":"9754c053.e2f67","type":"inject","z":"a8d4be9f.39a1f","name":"","topic":"","payload":"80","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1130,"y":1440,"wires":[[]]},{"id":"5a74f2e7.7bf36c","type":"inject","z":"a8d4be9f.39a1f","name":"","topic":"","payload":"70","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1130,"y":1480,"wires":[[]]},{"id":"4d331700.d95348","type":"inject","z":"a8d4be9f.39a1f","name":"","topic":"","payload":"55","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1130,"y":1520,"wires":[[]]},{"id":"70aee21.92f5f1c","type":"inject","z":"a8d4be9f.39a1f","name":"","topic":"","payload":"20","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1130,"y":1400,"wires":[[]]},{"id":"a60a4dd8.c1197","type":"inject","z":"a8d4be9f.39a1f","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1130,"y":1320,"wires":[[]]},{"id":"5bae8898.b4fb08","type":"function","z":"a8d4be9f.39a1f","name":"Store in 'HumCorr'","func":"flow.set('HumCorr', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":1200,"wires":[["ea0b264b.97ec08"]]},{"id":"be41dfee.8a229","type":"function","z":"a8d4be9f.39a1f","name":"Set corrections","func":"msg.payload = msg.payload + flow.get('HumCorr') + flow.get('TempCorr');\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":1160,"wires":[["6f3d9976.289e48","4ccbf070.668ba"]]},{"id":"225532b.a04bcce","type":"function","z":"a8d4be9f.39a1f","name":"Store in 'TempCorr'","func":"flow.set('TempCorr', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":1240,"wires":[["a2a8bf.a5f0074"]]},{"id":"78c7b6fc.81ef28","type":"comment","z":"a8d4be9f.39a1f","name":"Environmental Corrections","info":"","x":270,"y":1100,"wires":[]},{"id":"5a3d5a09.7296f4","type":"link in","z":"a8d4be9f.39a1f","name":"","links":["275b3674.7820ca"],"x":155,"y":1240,"wires":[["e14c20d1.27e99"]]},{"id":"121873a2.fd433c","type":"link in","z":"a8d4be9f.39a1f","name":"","links":["b60c19d7.535ed8"],"x":155,"y":1200,"wires":[["cb4b7530.31bac8"]]},{"id":"4ccbf070.668ba","type":"debug","z":"a8d4be9f.39a1f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":790,"y":1160,"wires":[]},{"id":"ad5235f0.b4cb78","type":"inject","z":"a8d4be9f.39a1f","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":800,"wires":[["be96d8a2.2282e8"]]},{"id":"3fa42133.6ed9de","type":"mqtt-broker","z":"","name":"pi","broker":"192.168.20.14","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"fb9931ab.45e93","type":"influxdb","z":"","hostname":"172.17.0.3","port":"8086","protocol":"http","database":"Zwift","name":"","usetls":false,"tls":""},{"id":"23cffcd2.ec87c4","type":"ui_group","z":"","name":"Fan Control","tab":"187c0bc1.9b4f14","order":2,"disp":true,"width":"6","collapse":false},{"id":"cb1d2df0.ff148","type":"ui_group","z":"","name":"Gauge","tab":"187c0bc1.9b4f14","order":3,"disp":false,"width":"3","collapse":false},{"id":"187c0bc1.9b4f14","type":"ui_tab","name":"Home","icon":"dashboard","order":"1"}]
